<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <input name="cmt" type="text" placeholder="New comment">
        <input name="username" type="text" placeholder="Your name">
        <button>Submit</button>
    </form>

    <ul>
        <% for(let cmt of comments) { %>
            <li> <%= cmt.comment %> - <b><%= cmt.username %></b> </li> 
            <a href="/comments/<%= cmt.id %> ">Details</a>
            <% } %>
    </ul>
</body>
</html>